<% unless smart_listing.empty? %>
    <table class="table">
      <thead>
      <tr>
        <th>Účet</th>
        <th><%= smart_listing.sortable 'Suma', :amount %></th>
        <th><%= smart_listing.sortable 'Dátum spracovania', :processing_date %></th>
        <th>Účel</th>
        <th>Typ</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% smart_listing.collection.each do |o| %>
          <tr>
            <td><%= o.account %></td>
            <td><span class="<%= o.amount >= 0 ? "text-success" : "text-danger" %>"><%= euro_currency o.amount %></span></td>
            <td><%= o.processing_date.nil? ? "" : l(o.processing_date, format: :short) %></td>
            <td><%= truncate o.description, length: 20 %></td>
            <td><%= o.category.try(:name) %></td>
            <td>
              <div class="pull-right">
                <%= link_to 'Upraviť', edit_transaction_path(o), remote: true, class: "btn btn-sm btn-primary" %>
                <%= link_to 'Vymazať', o, method: :delete, class: "btn btn-sm btn-danger", data: {confirm: 'Ste si istý?'} %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
<% else %>
    <%= render partial: 'logged/shared/no_records' %>
<% end %>