<%= form_for(@account) do |f| %>
    <% if @account.errors.any? %>
        <p class="alert alert-danger">
          <% @account.errors.full_messages.each do |message| %>
              <%= message %><br>
          <% end %>
        </p>
    <% end %>

    <%= render partial: 'logged/shared/input', locals: {value: :name, form: f, required: true} %>
    <%= render partial: 'logged/shared/input', locals: {value: :warning_limit, form: f} %>
    <div class="form-group">
      <%= f.label :notified %>
      <%= f.check_box :notified %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="actions">
      <%= f.submit 'Ulo탑i큐', class: "btn btn-sm btn-success pull-right" %>
      <%= link_to 'Sp채큐', accounts_path, class: "btn btn-sm btn-default pull-left" %>
    </div>
<% end %>
