<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Warning limit:</strong>
  <%= @account.warning_limit %>
</p>

<p>
  <strong>Notified:</strong>
  <%= @account.notified %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
